<h3 class="add-title"><b>Add new product</b></h3>

<form action="/add" method="POST">
    {{!-- title --}}
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Service Name</label>
        <span class="helper-text" data-error="What will the product be called?"></span>
    </div>

    {{!-- price --}}
    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required>
        <label for="price">Price</label>
        <span class="helper-text" data-error="Specify the price"></span>
    </div>

    {{!-- image --}}
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Please enter the address of the image that will be displayed in the product description"></span>
    </div>

    {{!-- text --}}
    <div class="input-field">
        <textarea name="text" id="text" class="materialize-textarea" required></textarea>
        <label for="text">Description</label>
        <span class="helper-text" data-error="Please enter the text that will be displayed in the product description"></span>
    </div>

    <button class="btn indigo darken-4 btn-large">Add Service</button>
</form>